body{
  background-image: url(./assets/Untitled\ design.jpg);
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*{
  padding: 0%;
  margin: 0%;
}
.border{
  
  border: 0.2em solid white;
  margin: 10px auto 10px auto;
  display: block;
  /* padding: 0px 10px 60vh 10px; */
  min-height: 96vh;
  border-radius: 6px;
  max-width: 400px;
  backdrop-filter:blur(5px);
}

.main-heading{
  color: rgb(255, 255, 255);
  margin: 0.2rem;
  text-align: center;
  margin-top: 10px;
}
.list{
  margin-top: 40px;
  background-color: white;
  min-height: 2.5rem;
  border-radius: 4px;
  width: 80%;
  margin-left: 9%;
  display: flex;
  align-items: center;

}
.add-list input{
  border: none;
  border-radius: 4px;
  text-align: center;
  height: 25px;
}
.add-list input:focus{
  border: none;
  outline: none;
}
.add-list .circle{
  font-size: x-small;
  margin: 5px;
}
.circle{
  font-size: x-small;
  margin: 5px;
  margin-right: 10px;
  padding-left:2px;
}
.circle:hover{
  cursor: pointer;
}
.add-list span{
  padding-left: 6px;
  padding-right: 6px;
  
}

hr{
  border: solid #eaf6f6 2px;
    border-bottom: none;
    width: 150px;
    margin: 30px auto;
}
.length{
  margin-left: 12px;
  font-size:xx-small;
  width: 10px;
  height: 10px;
  color: rgb(196, 192, 192);
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.list-item i {
  margin-left: 15px;
  align-self: center; 
}


.list-item p {
  flex: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}